/* Responsive Image Base */
img,video{
  width: auto; 
  height: auto;
  max-width: 100%;  
}

.medium-image{
  width: 350px;
}

body{
  color: #333;
  background-color: lightgreen;
}

h1{
  color: #fff;
  
}

p{
  color:#ff0000;
  font-size: 30px;
  color:aqua;
}

p em{
  color:red;
}
.special .not{
  color: purple;
}

.special{
  color: green;
}
#superspecial{
  font-size:50px;
}
h1{     
  font-size:22px;  
}

.navlist li
{
    display: inline; /* brings nav elements up next to each other */
    list-style-type: none; /* removes the bullet points */
    padding-right: 20px; /* spaces them out from each other. Adjust to suit your needs */
}


